* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 640px;
    height: 480px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
}
